<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>9JXM4RZUCC</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.surfshield.adblocker</key>
        <string>Adblocker App</string>
        <key>com.surfshield.adblocker.bannersextension</key>
        <string>bannersextension</string>
        <key>com.surfshield.adblocker.adblockerextension</key>
        <string>adblockerextension</string>
        <key>com.surfshield.adblocker.trackersextension</key>
        <string>trackersextension</string>
        <key>com.surfshield.adblocker.secureextension</key>
        <string>secureextension</string>
        <key>com.surfshield.adblocker.basicextension</key>
        <string>basicextension</string>
        <key>com.surfshield.adblocker.privacyextension</key>
        <string>privacyextension</string>
        <key>com.surfshield.adblocker.advancedextension</key>
        <string>advancedextension</string>
    </dict>
</dict>
</plist>