<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>6TVC5Q5R78</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.surfshield.app.banners</key>
        <string>match AppStore com.surfshield.app.banners</string>
        <key>com.surfshield.app.adblocker</key>
        <string>match AppStore com.surfshield.app.adblocker</string>
        <key>com.surfshield.app.trackers</key>
        <string>match AppStore com.surfshield.app.trackers</string>
        <key>com.surfshield.app.secure</key>
        <string>match AppStore com.surfshield.app.secure</string>
        <key>com.surfshield.app.basic</key>
        <string>match AppStore com.surfshield.app.basic</string>
        <key>com.surfshield.app.privacy</key>
        <string>match AppStore com.surfshield.app.privacy</string>
        <key>com.surfshield.app.advanced</key>
        <string>match AppStore com.surfshield.app.advanced</string>
    </dict>
</dict>
</plist>
